[Unit]
Description=Radio
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/rpi-radio/radio.py
User=pi
WorkingDirectory=/home/pi/rpi-radio
Restart=on-failure

[Install]
WantedBy=multi-user.target